
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    height: fit-content;
    background-color: white;
}

form button {
    margin-right: 1rem;
}

mat-form-field {
    width: 50%;
    max-width: 500px;
    display: block !important;
    margin-top: 1rem
}

.container-buttons{
    margin-top: 1rem;
}

.indice-elementos{
    margin-top: 1rem;
}

.indice-elementos a{
    margin-right: 1rem;
}

